In [8]:
import datetime
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy.sql import text

In [2]:
customers = pd.read_csv('data/olist_customers_dataset.csv')

customers.rename(columns={'customer_id': 'customerId',
                          'customer_unique_id': 'uniqueCustomerId',
                          'customer_zip_code_prefix': 'zipCodeId'}, inplace=True)

customers.drop(['customer_city', 'customer_state'], axis=1, inplace=True)

customers['zipCodeId'] = customers['zipCodeId'].astype(str)

In [3]:
geolocation = pd.read_csv('data/olist_geolocation_dataset.csv')

geolocation.rename(columns={'geolocation_zip_code_prefix': 'zipCodeId',
                            'geolocation_lat': 'lat',
                            'geolocation_lng': 'lng',
                            'geolocation_city': 'city',
                            'geolocation_state': 'geoState',}, inplace=True)

geolocation['zipCodeId'] = geolocation['zipCodeId'].astype(str)
geolocation['lat'] = geolocation['lat'].astype(str)
geolocation['lng'] = geolocation['lng'].astype(str)

In [9]:
order_items = pd.read_csv('data/olist_order_items_dataset.csv')

order_items.rename(columns={'order_id': 'orderId',
                            'product_id': 'productId',
                            'seller_id': 'sellerId',
                            'shipping_limit_date': 'shippingLimitDate',
                            'freight_value': 'freightValue'}, inplace=True)

In [423]:
order_payments = pd.read_csv('data/olist_order_payments_dataset.csv')

order_payments.rename(columns={'order_id': 'orderId',
                               'payment_sequential': 'paymentSeq',
                               'payment_type': 'paymentType',
                               'payment_installments': 'paymentInstallments',
                               'payment_value': 'paymentValue'}, inplace=True)

In [424]:
orders = pd.read_csv('data/olist_orders_dataset.csv')

orders.rename(columns={'order_id': 'orderId',
                       'customer_id': 'customerId',
                       'order_status': 'orderStatus',
                       'order_purchase_timestamp': 'orderPurchaseDate',
                       'order_delivered_carrier_date': 'orderDeliveredCarrierDate',
                       'order_delivered_customer_date': 'orderDeliveredCustomerDate',
                       'order_estimated_delivery_date': 'orderEstimatedDeliveryDate'}, inplace=True)

orders = orders.drop('order_approved_at', axis=1)

In [425]:
products_br = pd.read_csv('data/olist_products_dataset.csv')
products_en = pd.read_csv('data/product_category_name_translation.csv')

products = products_br.merge(products_en, how='left', on='product_category_name')
col_en = products.pop('product_category_name_english')
products.insert(2, 'product_category_name_english', col_en)

products.rename(columns={'product_id': 'productId',
                         'product_category_name': 'categoryNameBRA',
                         'product_category_name_english': 'categoryNameENG',
                         'product_weight_g': 'productWeigthG',
                         'product_length_cm': 'productLengthCM',
                         'product_height_cm': 'productHeigthCM',
                         'product_width_cm': 'productWidthCM'}, inplace=True)

products = products.drop(['product_name_lenght', 'product_description_lenght', 'product_photos_qty'], axis=1)

In [426]:
sellers = pd.read_csv('data/olist_sellers_dataset.csv')

sellers.rename(columns={'seller_id': 'sellerId',
                        'seller_zip_code_prefix': 'zipCodeId'}, inplace=True)

sellers = sellers.drop(['seller_city', 'seller_state'], axis=1)

sellers['zipCodeId'] = sellers['zipCodeId'].astype(str)

In [428]:
def type_test(df):
    df.info()

In [429]:
type_test(customers)
type_test(geolocation)
type_test(order_items)
type_test(order_payments)
type_test(orders)
type_test(products)
type_test(sellers)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerId        99441 non-null  object
 1   uniqueCustomerId  99441 non-null  object
 2   zipCodeId         99441 non-null  object
 3   validFrom         99441 non-null  datetime64[us]
 4   validTo           0 non-null      object
 5   isCurrent         99441 non-null  int64
dtypes: datetime64[us](1), int64(1), object(4)
memory usage: 4.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 8 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   zipCodeId  1000163 non-null  object
 1   lat        1000163 non-null  object
 2   lng        1000163 non-null  object
 3   city       1000163 non-null  object
 4   geoState   1000163 non-null  object
 5   validFrom  1000163 non-null  datetime64[us]
 6   validTo    0 non-null        object
 7   isCurrent  1000163 non-null  int64
dtypes: datetime64[us](1), int64(1), object(6)
memory usage: 61.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102425 entries, 0 to 102424
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   orderId            102425 non-null  object
 1   productId          102425 non-null  object
 2   sellerId           102425 non-null  object
 3   shippingLimitDate  102425 non-null  object
 4   itemCount          102425 non-null  int64
 5   price              102425 non-null  float64
 6   freightValue       102425 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 5.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   orderId              103886 non-null  object
 1   paymentSeq           103886 non-null  int64
 2   paymentType          103886 non-null  object
 3   paymentInstallments  103886 non-null  int64
 4   paymentValue         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   orderId                     99441 non-null  object
 1   customerId                  99441 non-null  object
 2   orderStatus                 99441 non-null  object
 3   orderPurchaseDate           99441 non-null  object
 4   orderDeliveredCarrierDate   97658 non-null  object
 5   orderDeliveredCustomerDate  96476 non-null  object
 6   orderEstimatedDeliveryDate  99441 non-null  object
dtypes: object(7)
memory usage: 5.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   productId        32951 non-null  object
 1   categoryNameBRA  32341 non-null  object
 2   categoryNameENG  32328 non-null  object
 3   productWeigthG   32949 non-null  float64
 4   productLengthCM  32949 non-null  float64
 5   productHeigthCM  32949 non-null  float64
 6   productWidthCM   32949 non-null  float64
 7   validFrom        32951 non-null  datetime64[us]
 8   validTo          0 non-null      object
 9   isCurrent        32951 non-null  int64
dtypes: datetime64[us](1), float64(4), int64(1), object(4)
memory usage: 2.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sellerId   3095 non-null   object
 1   zipCodeId  3095 non-null   object
 2   validFrom  3095 non-null   datetime64[us]
 3   validTo    0 non-null      object
 4   isCurrent  3095 non-null   int64
dtypes: datetime64[us](1), int64(1), object(3)
memory usage: 121.0+ KB

In [5]:
url = 'mysql+pymysql://admin:casaos@192.168.1.8:3306/sales'

In [6]:
def load_dataframe_to_mysql(df, table_name, url):
    engine = create_engine(url)

    connection = engine.connect()
    transaction = connection.begin()

    try:
        df.to_sql(name=table_name, con=connection, if_exists='replace', index=False)
        transaction.commit()
        print(f"DataFrame successfully loaded into {table_name}.")
    except SQLAlchemyError as e:
        transaction.rollback()
        print(f"Error occurred while loading data: {e}")
    finally:
        connection.close()

In [432]:
load_dataframe_to_mysql(customers, 'customers', url)
load_dataframe_to_mysql(products, 'products', url)
load_dataframe_to_mysql(geolocation, 'geolocation', url)
load_dataframe_to_mysql(sellers, 'sellers', url)
load_dataframe_to_mysql(order_items,'orderItems', url)
load_dataframe_to_mysql(orders,'orders', url)
load_dataframe_to_mysql(order_payments,'orderPayments', url)

DataFrame successfully loaded into customers.
DataFrame successfully loaded into products.
DataFrame successfully loaded into geolocation.
DataFrame successfully loaded into sellers.
DataFrame successfully loaded into orders.
DataFrame successfully loaded into orderItems.
DataFrame successfully loaded into orderPayments.